<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8" />
    <title>My Landing Page</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script type="module" src="/three.module.min.js"></script>
    <script type="module" src="/tween.esm.js"></script>
    <link rel="stylesheet" href="index.css" />
    <link rel=" stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>
    <div class="head-container">
        <div class="box">
            <p><strong>П К М</strong></p>
        </div>
        <div class="box">
            <p>О сервисе</p>
        </div>
        <div class="box">
            <p>Купить готовый</p>
        </div>
        <div class="box">
            <a href="#generator" class="btn">
                <p>Генератор</p>
            </a>
        </div>
    </div>
    <main class="container">
        <div style="
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center; /* Add this line to center horizontally */
                    height: 90vh; /* Add this line to center vertically */
                ">
            <div style="margin-right: -100px; padding: 20px">
                <h1 style="font-size: 4em">
                    <strong>Ваш новый <br />
                        прямоугольный<br />
                        модный ковёр
                    </strong>
                </h1>
            </div>
            <div style="margin-left: -100px; padding: 20px">
                <img src="img/1section_img.png" />
            </div>
        </div>
        <section>
            <h3>
                Мы сделаем ковёр точно такой же, как вы сгенерировали на
                сайте
            </h3>
            <img class="container" src="img/placeholder_1.png" />
            <h3>И доставим к вам домой или в пункт выдачи через 14 дней</h3>
        </section>
        <section id="generator">
            <div>
                <div class="row">
                    <h2>Title</h2>
                    <h4>Subtitle</h4>
                </div>
                <img src="/path/to/image" alt="Image" hx-get="/path/to/endpoint" hx-trigger="load">
                <div class="row">
                    <input type="text" placeholder="Введите любое слово" id="userInput">
                    <p id="response"></p>
                    <button hx-post="/path/to/endpoint" hx-target="#response" hx-swap="outerHTML">
                        <img src="/path/to/button-image" alt="Button">
                    </button>
                </div>
        </section>

        <div id="threejs-container"></div>
        <div id="time-display"></div>

        <script type="module" src="/time.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js"></script>
        <script type="module" src="/animation.js"></script>
    </main>
</body>

</html>
